// Varialbles
$website-width: 1280px;
$main-color: lighten(#4169E1, 20%);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');
// $site-color: lighten(#4169E1, 20%);
$site-color: #ef736f;