@import 'config';

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; // so nothing goes outside container
}

.middle-container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; // so nothing goes outside container
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {

  // diffrent options
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.border-b {
  border-bottom: 1px solid $site-color;
}


.font-medium {
  font-weight: 500;
}

.type-1 {
  font-size: 14px;
  line-height: 1.5;
}

.type-2 {
  font-size: 18px;
  line-height: 1.5;
}

.type-3 {
  font-size: 22.5px;
  line-height: 1.5;
}

.type-4 {
  font-size: 28.125px;
  line-height: 1.4;
}


.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-4 {
  padding-bottom: 1rem;
}



.py-10 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  height: 200px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.col-span-2 {
  grid-column: span 2/span 2;
}

.col-span-12 {
  grid-column: span 12/span 12;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-2 {
  margin-right: .5rem;
}